@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
body {
    background-color: white;
}

.container {
    display: flex;
}

.other {
    flex: 4;
    background: rgb(231, 225, 225);
}

a {
    text-decoration: none;
    color: inherit;
}